:root {
  --background: #f7f7f7;
  --text: black;
  --link: blue;
  --link-hover: #255783;
  --button: white;
  --button-active: #eeeeee;
  --button-hover: #efefef;
  --alert-info-background: rgb(1 67 97 / 37%);
}

* {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 8px 20px;
  background: var(--background);
  color: var(--text);
}

h1>a {
  font-size: 1.6rem;
  text-decoration: none;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

button {
  padding: 0.5rem;
  background: var(--button);
  color: var(--text);
  border-radius: 0.25rem;
  width: 13rem;
}

button:active {
  background: var(--button-active);
}

button:hover {
  background: var(--button-hover);
}

label {
  font-weight: bold;
}

.alert {
  background: var(--button-hover);
  color: var(--text);
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 17rem;
  display: flex;
  margin-top: 1rem;
}

.alertIcon {
  margin-right: 12px;
  padding: 7px 0px;
  display: flex;
}

.alertContent {
  font-size: 0.9rem;
}

.alertInfo {
  background: var(--alert-info-background);
}

/* Desktop Styles */
@media (min-width: 75rem) {
  * {
    font-size: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c2128;
    --text: #adbac7;
    --link: #59b2ff;
    --link-hover: aliceblue;
    --button: #373e47;
    --button-active: #eeeeee;
    --button-hover: #444c56;
    --alert-info-background: rgb(1, 67, 97);
  }
}
